.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0e1d3a;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.form {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.blockAuth {
  display: flex;
  flex-direction: column;
}

.blockTag {
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.blockButton {
  display: flex;
  flex-direction: row;
}

.serviceName {
  height: 25px;
  width: 180px;
  margin: 10px;
}

.button {
  height: 30px;
  width: 180px;
  margin: 10px;
  font-size: 12px;
}