.Header {
  text-align: center;
}

.Header-header {
  background-color: #0e1d3a;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  /* background-color: #282c34; */
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.form {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.blockAuth {
  display: flex;
  flex-direction: column;
  border-color: brown;
}

.blockTag {
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.blockButton {
  display: flex;
  flex-direction: row;
}

.serviceName {
  height: 25px;
  width: 180px;
  margin: 10px;
}

.button {
  height: 30px;
  width: 180px;
  margin: 10px;
  font-size: 12px;
}

.table {
  display: flex;
  flex-direction: column;
}

.buttonExportToExcel {
  width: 100px;
}